/nbproject/
/thinkphp/
#/vendor/
/runtime/*
/application/admin/command/Install/*.lock
#/public/assets/libs/
/uploads/*
/public/uploads/
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
.DS_Store
/application/index/controller/Debug.php
