<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{$title|default=''} – {$site.name}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__CDN__/assets/css/index.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="__CDN__{$site.logo}" style="width:200px;" alt=""></a>
        </div>

        <!--<div class="collapse navbar-collapse" id="navbar-collapse-menu">-->
        <!--    <ul class="nav navbar-nav navbar-right">-->
        <!--        <li><a href="/" target="_blank">{:__('Home')}</a></li>-->
        <!--        <li><a href="{:url('/index/test')}" target="_blank">支付体验</a></li>-->
        <!--        <li><a href="{$site.docurl}" target="_blank">对接文档</a> </li>-->
        <!--        <li><a href="{$site.frontend_url}/register">我要开户</a> </li>-->
        <!--        <li><a href="{$site.frontend_url}">商户后台</a> </li>-->
        <!--    </ul>-->
        <!--</div>-->
        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" target="_blank">{:__('Home')}</a></li>
                <li><a href="http://shcm999.com/" target="_blank">支付体验</a></li>
                <li><a href="http://101.36.122.242/%E5%AF%B9%E6%8E%A5%E8%B5%84%E6%BA%90.zip" target="_blank">对接文档</a> </li>
                <li><a href="http://shcm999.com/">我要开户</a> </li>
                <li><a href="http://shcm999.com/">商户后台</a> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2>7 行代码接入支付</h2>
                        <h4 style="line-height: 30px">不是简单的聚合支付通道和路由，而是每一家企业内部的虚拟支付团队，致力于帮助企业快速、高效和高质量地建立「泛支付」模块，从容应对任何交易场景的挑战。。</h4>
                        <!--<a href="http://wpa.qq.com/msgrd?v=3&uin={$site.qqkf}&site=qq&menu=yes" class="btn btn-warning btn-xl page-scroll">客服TG:{$site.qqkf}</a>-->
                        <a href="https://t.me/{$site.qqkf}" class="btn btn-warning btn-xl page-scroll">客服TG:{$site.qqkf}</a>
                        <a href="http://shcm999.com/" class="btn btn-outline btn-xl page-scroll">商户后台登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h3>最专业的支付帮手</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-item">
                                <img src="__CDN__/assets/img/mobile-app.png" class="img-responsive"/>
                                <h3>手机App支付</h3>
                                <p class="text-muted">App内实现收款</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <img src="__CDN__/assets/img/mobile-web.png" class="img-responsive"/>
                                <h3>手机网页支付</h3>
                                <p class="text-muted"> 手机浏览器内实现收款</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <img src="__CDN__/assets/img/weixin-icon.png" class="img-responsive"/>
                                <h3>公众号支付</h3>
                                <p class="text-muted">微信浏览器内实现收款</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <img src="__CDN__/assets/img/pc-web.png" class="img-responsive"/>
                                <h3>PC网页支付</h3>
                                <p class="text-muted">PC浏览器内实现收款</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <img src="__CDN__/assets/img/qr-code.png" class="img-responsive"/>
                                <h3>线下扫码支付</h3>
                                <p class="text-muted">扫描二维码实现收款</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <img src="__CDN__/assets/img/xiaochengxu.png" class="img-responsive"/>
                                <h3>小程序支付</h3>
                                <p class="text-muted">小程序内实现收款</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>{:__('Do not hesitate')}<br>{:__('Start to act')}</h2>
            <a href="http://wpa.qq.com/msgrd?v=3&uin={$site.qqkf}&site=qq&menu=yes" class="btn btn-outline btn-xl page-scroll">联系客服，立即接入。</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<footer>
    <div class="container">
        <p class="copyright">{$site.name} {:__('Copyrights')} <a href="http://www.miibeian.gov.cn" target="_blank">{$site.beian}</a></p>
    </div>
</footer>

<!-- jQuery -->
<script src=https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdn.staticfile.org/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script>
    $(function () {
        $(window).on("scroll", function () {
            $("#mainNav").toggleClass("affix", $(window).height() - $(window).scrollTop() <= 50);
        });
    });
</script>


</body>

</html>